.block-clients {
    background: #ffc155;
}

.block-clients h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
}

.block-clients .subtitle {
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 5px auto 56px;
}


.clients {
    display: block;
    margin: 20px auto 0;
    padding-bottom: 80px;
}

.client {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    background-color: #ffffff;
    margin: 0 auto 20px;
    min-height: 241px;
    border-radius: 2px;
}

.client:nth-child(2n) {
    margin-left: 38px;
}

.client p {
    color: #7b7b7b;
    line-height: 22px;
    position: relative;
    padding: 32px 33px 5px 183px;
}

.client p:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 29px;
    width: 121px;
    height: 121px;
    border-radius: 50%;
}

.client-1 p:before {
    background: url(../../assets/img-1.jpg) 0 0 no-repeat;
}
.client-2 p:before {
    background: url(../../assets/img-2.jpg) 0 0 no-repeat;
}
.client-3 p:before {
    background: url(../../assets/img-3.jpg) 0 0 no-repeat;
}
.client-4 p:before {
    background: url(../../assets/img-4.jpg) 0 0 no-repeat;
}

.client p .fa-quote-left{
    position: absolute;
    top: 32px;
    left: 166px;
    font-size: 9px;
}

.client p .fa-quote-right{
    position: absolute;
    bottom: 0;
    right: auto;
    font-size: 9px;
    margin-left: 25px;
}


.client a,
.client span {
    text-decoration: none;
    font-size: 14px;
    color: #f6772c;
    text-transform: uppercase;
}

.client a {
    padding-left: 184px;
}

.client span {
    color: #99a9ae;
}

.block-clients footer {
    background: #fff;
}

.footer-span {
    color: #7b7b7b;
}