
.container {
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
}

header{
    padding: 10px 0 23px;
    background: #ffffff;
}

.main-block {
    background: #709dca;
}

.main-block .container {
    position: relative;
    padding: 99px 0 280px;
    margin: 0 auto;
}

.main-block .title {
    display: block;
    color: #ffffff;
    text-align: center;
    margin: 20px auto;
}

.main-block .title h1{
    font-weight: 800;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0 15px;
}

.main-block .title span{
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-pic {
    position: absolute;
    left: 50%;
    bottom: -64px;
    margin-left: -324px;
}

.submain {
    min-height: 100px;
    background: #fff;
}

footer {
    background: #709dca;
}