
.service-block {
    background: #ffffff;
    margin: 100px 0 0;
}

.service-block h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    color: #394b50;
    margin: 10px auto 0;
    text-align: center;
}

.service-block span {
    font-size: 16px;
    line-height: 22px;
    color: #394b50;
    margin: 6px auto;
    text-align: center;
    display: block;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-bottom: 54px;
}

.service {
    width: 45%;
    margin-bottom: 70px;
}

.service a {
    display: block;
    position: relative;
    text-decoration: none;
}

.service i {
    position: absolute;
    top: 0;
    left: -4px;
    margin-left: 5px;
    color: #709dca;
}

.service a:hover i{
    color: #f6772c;
}

.service h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #394b50;
    line-height: 22px;
    vertical-align: bottom;
    /*height: 52px;*/
    margin: 0 0 0 80px;
}

.service p {
    font-size: 13px;
    font-weight: 400;
    color: #7b7b7b;
    line-height: 22px;
    margin: 10px 0 0 81px;
}

.service-block .service:nth-child(2n){
    margin-left: 90px;
}

.service-6 i {
    top: 0;
    left: 10px;
}