
header .container{
    display: flex;
}
.logo{
    width: 50px;
    height: 48px;
    display: flex;
}
.main-nav{
    margin: 4px 9px 0 auto;
}
.main-nav li{
    display: inline-flex;
    margin: 6px 4px;
    border-radius: 20px;
}
.main-nav li:hover{
    background: #ffbb42;
}

.main-nav li a:hover{
    color: #ffffff;
}

.main-nav a{
    padding: 7px 19px;
    color: #868686;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.main-nav li a.active{
    background: #ffbb42;
    border-radius: 20px;
    color: #000;
}