.login-block {
    display: block;
    background: url(../../assets/Kingfisher.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    min-height: 550px;
}
.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 30px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input {
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8abd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff
}
.login-box a:hover {
    color: #39dc79;
}


.login-footer {
    background: #fff;
}

.footer-span {
    color: #000;
}